# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
env/

# Django stuff
staticfiles/
media/
*.pot
*.pyc


# VSCode and system files
.vscode/
.idea/
.DS_Store
*.env
.env/

# Pip and build
build/
dist/
*.egg-info/
